<div class="page-style">
    <p>user-orders works!</p>
    <h1>KUR KUR KUR KUR KUR</h1>
    <div class="header">
        <button type="button" (click)="showAllOrders()">All orders</button>
        <button type="button" (click)="addOrder()">Add order</button>
        <button type="button" (click)="showMyOrders()">My orders</button>
    </div>
    <div class="orders-sections">
        <div *ngIf="showAllOrdersForm">
            <div *ngFor="let order of allOrders">
                <mat-accordion>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                        <mat-panel-title>
                            {{ order.description }}
                        </mat-panel-title>
                        </mat-expansion-panel-header>
                      
                        <div>
                            Order Location: {{ order.town }}
                        </div>

                        <div>
                            Price Up To: {{ order.priceTo }}
                        </div>
                      
                    </mat-expansion-panel>
                </mat-accordion>
            </div>
        </div>
        <div *ngIf="showAddOrderForm">
            <form [formGroup]="addOrderFormGroup">
                <mat-form-field>
                    <input matInput formControlName="priceTo" placeholder="Price up to">
                </mat-form-field>
                <mat-form-field>
                        <mat-label>Favorite food</mat-label>
                        <mat-select>
                          <mat-option *ngFor="let city of keys(cities)" [value]="cities[city]">
                            {{city}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                <mat-form-field>
                    <textarea 
                        matInput 
                        rows="10" 
                        cols="70" 
                        formControlName="description" 
                        placeholder="Description"></textarea>
                </mat-form-field>
                <button (click)="submitOrder()" color="primary">Submit</button>
            </form>
        </div>
        <div *ngIf="showMyOrdersForm">
            <div *ngFor="let order of myOrders">
                <mat-accordion>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                        <mat-panel-title>
                            {{ order.description }}
                        </mat-panel-title>
                        </mat-expansion-panel-header>
                              
                         <div>
                            Order Location: {{ order.town }}
                        </div>
        
                        <div>
                            Price Up To: {{ order.priceTo }}
                        </div>
                              
                    </mat-expansion-panel>
                </mat-accordion>
            </div>
        </div>
    </div>
</div>

