<div class="sigup-main">
    <h2 class="sigup-h2">Sign up form</h2>
    <p class="signup-p">Please fullfill all the fields!</p>
</div>
<mat-divider></mat-divider>
<form [formGroup]="userInputGroup">
    <div class="field-div">
        <p class="field-p">First Name</p>
        <mat-form-field class="field-p">
            <input matInput formControlName="firstName" placeholder="John">
        </mat-form-field>
    </div>
    <div class="field-div">
        <p class="field-p">Last Name</p>
            <mat-form-field class="field-formfield">
                <input matInput formControlName="lastName" placeholder="McBoss">
            </mat-form-field>
    </div>
    <div class="field-div">
        <p class="field-p">Email</p>
        <mat-form-field class="field-formfield">
            <input matInput formControlName="email" placeholder="John_McBoss@gmail.com">
        </mat-form-field>
    </div>
    <div>
        <p>EGN</p>
        <mat-form-field>
            <input matInput formControlName="egn" placeholder="Your EGN">
        </mat-form-field>
    </div>
    <div>
        <p>LK number</p>
        <mat-form-field>
            <input matInput formControlName="LKNumber" placeholder="Your ID number">
        </mat-form-field>
    </div>
    <div>
        <p>ENK</p>
        <mat-form-field>
            <input matInput formControlName="enk" placeholder="ENK">
        </mat-form-field>
    </div>
    <div>
        <p>DDS Number</p>
        <mat-form-field>
            <input matInput formControlName="ddsNumber" placeholder="DDS Number">
        </mat-form-field>
    </div>
    <div class="field-div">
        <p class="field-p">Street Address</p>
        <mat-form-field class="field-formfield">
            <input matInput formControlName="streetAddress" placeholder="Washington street 159">
        </mat-form-field>
    </div>
    <div class="field-div">
        <p class="field-p">Phone</p>
        <mat-form-field class="field-formfield">
            <input matInput formControlName="phone" placeholder="086 969 6969">
        </mat-form-field>
    </div>
    <div>
        <p>City</p>
        <mat-form-field>
            <input matInput formControlName="city" placeholder="Washington DC">
        </mat-form-field>
    </div>
    <div>
        <p>Any obligations</p>
        <mat-radio-group formControlName="hasObligations" aria-label="Select an option">
            <mat-radio-button value="1">Yes</mat-radio-button>
            <mat-radio-button value="2">No</mat-radio-button>
          </mat-radio-group>
    </div>
    <div>
        <p>Password</p>
        <div>
            <mat-form-field>
                <input type="password" matInput formControlName="password" placeholder="Your password">
            </mat-form-field>
        </div>
    </div>
    <div>
        <p>Confirm password</p>
        <mat-form-field>
            <input type="password" matInput formControlName="confirmPassword" placeholder="Confirm your password">
        </mat-form-field>
    </div>
    <button type="button" mat-raised-button (click)="onCancel()">Cancel</button>
    <button type="button" mat-raised-button (click)="onSubmit()">Register</button>
</form>